In [1]:
import pandas as pd

In [2]:
renfe_df = pd.read_csv('opendata_renfe_trips.csv')

In [3]:
renfe_df.drop(renfe_df.iloc[:, 8:], axis = 1, inplace = True)
renfe_df.drop(renfe_df.iloc[:, 0:2], axis = 1, inplace = True)

In [4]:
renfe_df[['origin', 'destination']] = renfe_df[['origin', 'destination']].applymap(lambda s: str(s).title())

In [19]:
renfe_stats = renfe_df.groupby(['origin', 'destination']).describe()

In [23]:
renfe_stats.to_csv('renfe_database_statistics.csv')

In [24]:
check_read = pd.read_csv('renfe_database_statistics.csv')

In [25]:
check_read

,origin,destination,duration_count,duration_mean,duration_std,duration_min,duration_25%,duration_50%,duration_75%,duration_max
0,Albacete,Madrid,563035.0,1.980307,0.606022,1.50,1.60,1.63,2.43,4.53
1,Alicante,Madrid,336438.0,2.860042,1.251841,2.27,2.52,2.60,2.62,9.12
2,Barcelona,Madrid,4161224.0,3.181928,1.320997,2.50,2.60,2.78,3.17,11.37
3,Barcelona,Valencia,52833.0,3.319802,1.041412,2.67,2.67,2.67,3.20,5.97
4,Barcelona,Zaragoza,96122.0,2.080325,1.079378,1.38,1.67,1.67,1.78,5.03
...,...,...,...,...,...,...,...,...,...,...
57,Valencia,Madrid,3215329.0,3.065901,2.209055,1.63,1.67,1.87,2.68,7.70
58,Valladolid,Madrid,1178435.0,1.545020,0.820132,0.93,1.08,1.08,1.28,7.25
59,Zamora,Madrid,8346.0,1.558754,0.094809,1.47,1.50,1.53,1.62,1.77
60,Zaragoza,Barcelona,97436.0,2.153796,1.095110,1.47,1.73,1.80,1.85,5.17
61,Zaragoza,Madrid,1171626.0,1.792142,1.296610,1.28,1.32,1.45,1.45,9.33